/* Universal Styles */
body {
    margin: 0;
    font-family: "Mallanna";
    font-size: 20px;
    color: black;
}

/* Header */
header {
    display: flex;
    color: rgb(51, 58, 68);
    font-family: "Mallanna";
    font-size: 60px;
    text-align: center;
}

header #name {
    margin-bottom: 40px;
}

/* Navigation Menu */
nav {
    border-style: solid none solid none;
    border-color: rgb(51, 58, 68);
    border-width: 1px;
    padding: 8px;
    text-align: center;
    font-family: "Mallanna";
    font-size: 20px;
}

nav a {
    padding: 1.5em;
    color: rgb(51, 58, 68);
}

/* Contact Info */
/* #boxes { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contactInfo { 
    background-color: rgb(141, 179, 239);
    width: 25%;
    height: 275px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.contactInfo img {
    width: 30%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.text {
    color: white;
    font-size: 20px;
} */

.contactInfo {
    font-family: "Mallanna";
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contactInfo a {
    color: rgb(141, 179, 239);
}

/* Footer */
.footer {
    color: white;
    background-color: rgb(141, 179, 239);
    font-family: "Mallanna";
    font-size: 18px;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.footer #lastModified {
    left: 30px;
}

.footer #credit {
    right: 30px;
}